<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>{SHORTNAME}</Name>
    <Version>{VERSION}</Version>
    <Title>{NAME} - {TITLE}</Title>
    <Publisher>{AUTHOR}</Publisher>
    <ProductUrl>https://www.range-software.com</ProductUrl>
    <StartMenuDir>{NAME}</StartMenuDir>
    <TargetDir>@HomeDir@/{SHORTNAME}</TargetDir>
    <InstallerWindowIcon>range.png</InstallerWindowIcon>
    <InstallerApplicationIcon>range</InstallerApplicationIcon>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
</Installer>
